*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-padding {
  padding: 15px;
}
.container-fluid{
  width: 100%;
  height: 100%;
}
.center-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.small-width{
  width: 70%;
  height: 50%;
  margin-top: 10px;
  margin-left: 220px;
}
.error{
  color: red;
}
.Toastify__toast--custom-toast-error {
  color: #150101;
}
